<ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(124, 22, 4)" id="accordionSidebar">

    <!-- Sidebar - Brand -->

        
        <div style="display: flex; gap: 40px; flex-direction: column;">
            <div class="sidebar-brand-icon" style="display: flex; justify-content: center; align-items: center; margin-top: 16px">
                
                <a href="/admin"><img style="width: 90%; height: 10em;" img src="/src/views/img2/hoteles.png"></a>
            </div>
            <div class="sidebar-brand-text mx-3">    <span style="color: white; font-size: 18px; font-weight: bold;">MODULO HOTEL</span>
            </div>
        </div>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0"> 
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        MODULOS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#seguridad"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-sharp fa-solid fa-shield-halved fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>SEGURIDAD</span>
        </a>
        <div id="seguridad" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/perfil">Perfiles</a>
                <a class="collapse-item" href="/empleado">Empleados</a>
                <a class="collapse-item" href="/hotel">Hoteles</a>
                <a class="collapse-item" href="/sucursal">Sucursales</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recepcion"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-regular fa-folder-open fa-beat-fade"style="color: white; font-size: 20px;"></i>
            <span>RECEPCIÓN</span>
        </a>
        <div id="recepcion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/reserva">Reservas</a>
                <a class="collapse-item" href="/detallereserva">Detalle Reservas</a>
                <a class="collapse-item" href="/cliente">Clientes</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lotes"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-gears fa-beat-fade"style="color: white;font-size: 20px;"></i>
            <span>ADMINISTRACIÓN</span>
        </a>
        <div id="lotes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/habitacion">Habitaciones</a>
                <a class="collapse-item" href="/piso">Pisos</a>
                <a class="collapse-item" href="/tipohabitacion">Tipo Habitaciones</a>
                <a class="collapse-item" href="/mantenimiento">Mantenimiento</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compras"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-cart-shopping fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>COMPRAS</span>
        </a>
        <div id="compras" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/proveedor">Proveedores</a>
                <a class="collapse-item" href="/compra">Compras</a>
                <a class="collapse-item" href="/detallecompra">Detalle Compras</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ventas"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-house fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>ALMACEN</span>
        </a>
        <div id="ventas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/categoria">Categorias</a>
                <a class="collapse-item" href="/producto">Productos</a>
                <a class="collapse-item" href="/unidad">Unidades</a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>